<div class="k-block">
    <button kendoButton [look]="'default'">Default Button</button>
    <button kendoButton [look]="'outline'">Outline Button</button>
    <button kendoButton [look]="'clear'">Clear Button</button>
    <button kendoButton [look]="'flat'">Flat Button</button>
    <button kendoButton>Kendo Button</button>
    <button kendoButton [disabled]="true">Disabled Button</button>
</div>

<kendo-buttongroup>
    <button kendoButton [primary]="true">Primary Button</button>
    <button kendoButton [togglable]="true">togglable Button</button>
    <button kendoButton [icon]="'calendar'">Icon Calendar Button</button>
    <button kendoButton [icon]="'search'">Icon Search Button</button>
    <button kendoButton [icon]="'search'"></button>
</kendo-buttongroup>