<kendo-grid
    [resizable]="true"
    [kendoGridBinding]="gridData"
    [filterable]="true"
    [groupable]="true"
    [sortable]="true"
    [pageSize]="7"
    [pageable]="true"
    [height]="510">
    <kendo-grid-column field="CompanyName" title="Company" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="ContactName" title="Contact" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
    <kendo-grid-column field="ContactTitle" [width]="130"></kendo-grid-column>
    <kendo-grid-column field="DOB" [width]="130"></kendo-grid-column>
</kendo-grid>

<app-search-panel></app-search-panel>