<div>
    <p>grid-second works!</p>

    <kendo-grid
        [resizable]="true"
        [kendoGridBinding]="gridData"
        [filterable]="true"
        [groupable]="true"
        [sortable]="true"
        [pageSize]="7"
        [pageable]="true"
        [height]="510">
        <kendo-grid-column field="ContactName" title="Contact" [width]="120"></kendo-grid-column>
        <!-- <kendo-grid-column field="DOB" [width]="130"></kendo-grid-column> -->

        <!-- <kendo-grid-column field="DOB" 
            title="Date Of Birth" [width]="200" 
            format="{0:MM/dd/yyyy}">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-date-filter-cell 
                    [column]="column" 
                    [filter]="filter">
                </kendo-grid-date-filter-cell>
            </ng-template>
        </kendo-grid-column>     -->

        <kendo-grid-column
            field="DOB"
            title="Date Of Birth"
            filter="date"
            format="MM/dd/yyyy"
            [width]="200" >      
        </kendo-grid-column>  

    </kendo-grid>

</div>