<div>
    <button kendoButton icon="filter-clear" (click)="onButtonClearFiltersClick()">Clear All Filters</button>

    <kendo-grid
        [resizable]="true"
        [kendoGridBinding]="gridData"
        [filterable]="true"
        [groupable]="true"
        [sortable]="true"
        [pageSize]="7"
        [pageable]="true"
        [filter]="filter"
        [height]="510">
        <kendo-grid-column field="ContactName" title="Contact" [width]="120"></kendo-grid-column>
        <!-- <kendo-grid-column field="DOB" [width]="130"></kendo-grid-column> -->

        <!-- <kendo-grid-column field="DOB" 
            title="Date Of Birth" [width]="200" 
            format="{0:MM/dd/yyyy}">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-date-filter-cell 
                    [column]="column" 
                    [filter]="filter">
                </kendo-grid-date-filter-cell>
            </ng-template>
        </kendo-grid-column>     -->

        <kendo-grid-column
            field="DOB"
            title="Date Of Birth"
            filter="date"
            format="MM/dd/yyyy"
            [width]="200" >    
        </kendo-grid-column>  

        <kendo-grid-column
            field="DOB"
            title="Date Of Birth"
            filter="date"
            format="MM/dd/yyyy"
            [width]="200" >    
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column" oprator="eq">
                <kendo-grid-date-filter-cell [column]="column" [filter]="filter">
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-gte-operator></kendo-filter-gte-operator>
                </kendo-grid-date-filter-cell>
            </ng-template>            
        </kendo-grid-column>          

    </kendo-grid>

</div>